/* export const GlobalStyle = createGlobalStyle */

body {
  background: url("./pikapika.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* background-image:url("./pikachu.jpg") ; */
